{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["standard", "plugin:vue/recommended", "plugin:prettier/recommended"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 100,
        "proseWrap": "never"
      }
    ],
    "vue/max-attributes-per-line": 0
  }
}
